<div class="pageUpTitle">Админка</div>

<div class="adminButton" onclick="location.href='@Url.Action("CreateStar", "Admin")'">Добавить звезду</div>
<div class="adminButton" onclick="location.href='@Url.Action("Login", "Account")'">Редактировать звезду</div>
<div class="adminButton" onclick="location.href='@Url.Action("Login", "Account")'">Удалить звезду</div>
<div class="adminButton" onclick="location.href='@Url.Action("Create", "Roles")'">Добавить роль</div>
<div class="adminButton" onclick="location.href='@Url.Action("Index", "Roles")'">Список всех ролей</div>
<div class="adminButton" onclick="location.href='@Url.Action("Login", "Account")'">Удалить пользователя</div>

