
@model OrderOfStars.Models.Stars

<div id="fullStarCardName">@Model.FirstName @Model.SecondName</div>
<div id="fullStarCardDescription">@Model.Description</div>


<!--<div>@ViewBag.FirstName @ViewBag.SecondName</div>
<div>@ViewBag.Description</div>--> 


