<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.3.0.js"></script>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body>
  
    <div id="header">
        <div class="logo" onclick="location.href='@Url.Action("Index", "Home")'"></div>
        <div id="userProf"></div>
        @{
            if (User.Identity.IsAuthenticated)
            {
                <div class="headerUserName dropdownHover">
                    <div class="headerHoverText">@User.Identity.Name</div>
                    <div class="dropdownHover-content" aria-labelledby="dropdownMenuButton">
                        <div>Личный кабинет</div>
                        @if(@Roles.IsUserInRole("Admin"))
                        { 
                        <div onclick="location.href='@Url.Action("AdminPanel", "Admin")'">Админка</div>
                        }
                        <div>Настройки</div>
                        <div onclick="location.href='@Url.Action("LogOut", "Account")'">Выход</div>
                    </div>
                </div>
            }
            else
            {
                <div id="headerBtnContainer">
                    <button class="btn btn-outline-dark myBtn" onclick="location.href='@Url.Action("Login", "Account")'">Авторизация</button>
                    <button class="btn btn-outline-dark myBtn" onclick="location.href='@Url.Action("Register", "Account")'">Регистрация</button>
                </div>
            }
        }
    </div>
    
        @RenderBody()
        
        
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
    </footer>        
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
        @RenderSection("scripts", required: false)
</body>
</html>
